.single-review {
    font-size: 14px;
    line-height: 1.358;
    color: #fff;
    background-color: #1f222f;
    margin: 16px 0;
    border-radius: 5px;
    padding: 10px;
}

.single-review-preview {
    box-shadow: 0 0 0 3px #528bfa;
}
